.editor {
  text-align: left;
  height: 100%;
  overflow-wrap: break-word;
  overflow-y: scroll;
  outline: none;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none
  }

  .mobileInput {
    position: absolute;
    top: -2000px;
    left: -2000px;
  }

  .lineText {
    display: inline;
    position: relative;
    top: -0.0625em;
    margin-left: 0.5em;
  }

  .preWhiteSpace {
    white-space: pre-wrap;
  }

  .caret {
    position: relative;
    animation: blink 0.75s ease-in-out infinite;

    .caretAfter {
      background: currentColor;
      content: "";
      position: absolute;
      top: 0.125em;
      width: 0.125em;
      height: 1.175em;
      z-index: 10;
    }

    @keyframes blink {
      0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
      }
      100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}
